/* .chitietsanpham{
    display: flex;
    justify-content: center;
    width: 100px;
}
.mainContent {
    width: 1100px;
}
.hinhanh{
    height: 300px;
    border :1px solid #ffffff
}
.mota{
    height: 500px;
    border: 1px solid #ffffff ;
} */